apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
    annotations:
        kubernetes.io/ingress.class: nginx
    labels:
        app: proyecto
    namespace: proyecto
    name: frontend-ingress
spec:
    rules:
        - host: nginx.front.example.com # cambiar esta linea por dominio
          http:
              paths:
                  - backend:
                        serviceName: service-web-proyecto-sopes2
                        servicePort: 80
                    path: /
